<html>
<head>

    {{> head}}

</head>
<body>
<div class="pozadina">
    <p class="pomocni">888 blaa bla</p>
    <a href="/"><img id="logo" src="../public/images/logo.png"></a>
    <img class="navbar_image" src="../public/nav/smedji/stup.png">

    {{{body}}}
</div>
</body>
</html>