@font-face {
  font-family:"Heavitas2";
  src: url('Heavitas.ttf')  format('truetype'),
        url('Heavitas.woff') format('woff'),
        url('Heavitas.woff2') format('woff2');
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"NoMoreLies";
  src: url('NoMoreLies.ttf')  format('truetype'),
  url('NoMoreLies.woff') format('woff');
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"LithosProBlack";
  src: url('LithosPro-Black.ttf')  format('truetype'),
  url('LithosPro-Black.woff2') format('woff2');
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"WickedMouseDemo";
  src: url('Wicked Mouse Demo.ttf')  format('truetype'),
  url('Wicked Mouse Demo.woff2') format('woff2');
  /* TTF file for CSS3 browsers */
}

*{
  cursor: url("../images/pointer.png"), auto;
}

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;

}

a {
  color: #00B7FF;
}

.pomocni {
  font-family: Heavitas2;
  font-size: 0px;
  margin: 0;
}

.pomocni2 {
  font-family: NoMoreLies;
  font-size: 0px;
  margin: 0;
}

.pozadina{
  background-image: url("../images/pozadina.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
}

.navbar_image {
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 12%;
}

.igra {
  margin-top: 3% !important;
  margin-left: 22% !important;
  width: 800px !important;
  height: 90%;
  position: absolute;
  left: 7%
}

.konzola{
  width: 75%;
}

.navbar_game{
  height: 8%;
}

.modal-content{
  background: url('../nav/OKVIR_UPUTE.png');
}

.modal-dialog{text-align:center;}
.modal-content{
  display:inline-block;
  min-height: 556px;
  min-width: 781px;
}

.close {
  opacity: 1 !important;
  margin-right: 2% !important;
}

.upute-naslov{
  font-family: WickedMouseDemo;
  font-size: 36px;
  color: #FFFFFF;
}

.upute-tekst {
  font-family: LithosProBlack;
  font-size: 22px;
  color: #FFFFFF;
}

*:focus {
  outline: 0 !important;
}

.modal-content{
  border-radius: 28px;
}