body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

.pozadina{
  background-image: url("../images/pozadina.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
}

.navbar_image{
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 12%;
}

.igra {
  margin-top: 0 !important;
  margin-left: 15% !important;
}

.navbar_game{
  left: 30px;
  top: 0;
  width: 12%;
}